<mat-toolbar color="primary">
  <span>
    INEZ - Mein Einkauf
  </span>
</mat-toolbar>

<form [formGroup]='shoppingForm' (ngSubmit)='addToCard()' >
  <mat-form-field class='form-field' appearance="outline">
    <mat-label>Einkaufwunsch</mat-label>
  <input id='user-input' matInput
         type=text
         placeholder="+ Add to list"
         formControlName='item'>
  </mat-form-field>
</form>

<mat-list>
  <mat-list-item *ngFor='let item of shoppingList; last as l; index as i'>
    <span class='item-name'>
      <mat-checkbox color='primary'
                    (change)='item.setChecked($event.checked)'
                    [class.done]='item.getChecked()'
                    [checked]='item.getChecked()'>
        {{ item.toString() }}
      </mat-checkbox>
    </span>

    <span class='item-actions' *ngIf='!item.getChecked()'>
      <button mat-icon-button color='secondary'
              *ngIf='item.getAmount() > 1; else deleteButton'
              (click)='decreaseAmount(item)'>
        <mat-icon>remove</mat-icon>
      </button>

      <ng-template #deleteButton>
        <button mat-icon-button color='warn'
                (click)='deleteItem(item)'>
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>

      <button mat-icon-button
              (click)='increaseAmount(item)'
              class='add-button'
              color='primary'>
        <mat-icon>add</mat-icon>
      </button>
    </span>

    <mat-divider *ngIf=!l></mat-divider>
  </mat-list-item>
</mat-list>
